*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5 {
	font-size: 25px;
	margin: 0;
}
p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}
a{
    text-decoration: none;
    margin-top: 20px;
}
section{
    margin: 100px 0;
}
.section-heading {
    margin-bottom: 30px;
    text-align: center;
}
.main-btn {
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(45deg, #456f99, #57d3e9);
    display: inline-block;
}
.cyan-color{
    color: #57d3e9;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.banner-left small {
    margin-top: 20px;
    display: inline-block;
}
/* banner-area  section start */
.banner-area{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.banner-right img{
    width: 100%;
}

.banner-area h1 {
    position: relative;
    font-family: 'Noto Serif', serif;
    padding-left: 4%;
}
.banner-area h1::before {
    content: "";
    width: 1%;
    height: 78%;
    background-color: #456f99;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 13%;
}
/* banner-area section end */

/* my-mission-area section stat */
.my-mission-area {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.my-mission-item {
    padding: 30px;
    border-radius: 15px;
    background-color: #edf5f6;
}
.my-mission-item img {
    width: 60%;
}
.my-mission-item p {
    margin-bottom: 0px;
    text-align: justify;
}
.lite-pink{
    background-color: #ffeeee;
}
.lite-orange{
    background-color: #fff4d6;
}
/* my-mission-area section end */

/* develop & community area section start */

.develop-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    align-items: center;
}

.develop-left img, 
.community-right img{
	width: 100%;
}
.community-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    align-items: center;
}
/* develop & community area section end */

/* contact-area section start */
.contact-area {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.contact-left {
    width: 500px;
}
.contact-details h4 {
    margin-bottom: 20px;
}
.contact-details p{
    margin: 10px 0;
}
.text-field {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    background-color: #edf5f6;
    border: 1px solid #456f99;
    border-radius: 2px;
    outline: 0;
    font-family: inherit;
    padding: 10px;
    box-sizing: border-box;
}

.contact-right a{
    margin: 0;
    margin-right: 20px;
}

/* contact-area end */

/* footer section section start */
.footer-area{
    padding: 20px 0;
    text-align: center;
    background-color: #0b0d17;
}
.footer-area h3{
    font-family: 'Pattaya', sans-serif;
}
.footer-area h3, 
.footer-area p {
	color: #fff;
	margin: 20px 0;
}
/* footer section end */